html, body {
  height: 100%;
}

#volume_statement {
  text-align: center;
}

.col-4 {
  width: 33%;
  float: left;
}

.row {
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container-fluid {
  background-color: rgb(132, 181, 201);
  min-height: 100vh;
}