
#volume_statement {
  text-align: center;
  margin-top: 2%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#final_solution_text {
  text-align: center;
}

#final_solution_input {
  text-align: center;
}
